*.py[c|o]
*.egg
*.egg-info
*~
/build
dist
/nbproject/
pip-log.txt
/.project
/.pydevproject
/.idea
/.eggs
/include
/lib
/lib64
/bin
/virtualenv
.tox
*\$py\.class*
.pip-download-cache
/docs/build/
/docs/samples/started/newway/paver-minilib.zip
/docs/samples/started/newway/setup.py
MANIFEST
/paver/docs/
