language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"

before_script:
- if [ "$TRAVIS_PYTHON_VERSION" == "pypy" ]; then export PYTHON_EXE=pypy; export PIP_EXE=pip;
  else export PYTHON_EXE=python; fi
install:
- pip install -r test-requirements.txt
script: "$PYTHON_EXE setup.py test"
notifications:
  irc:
    channels: irc.freenode.org#paver
    on_success: always
    on_failure: always
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/df73774c7ab7fa0c1769
    on_success: change
    on_failure: always
deploy:
  provider: pypi
  user: Almad
  password:
    secure: W+lni4zSYg0CA4ju7jjSdDx5vt1jUsNpsS98amdOu34ycKTJL9WAEXmi4Ye1dqP37Rm4ZBln9h9USQ+NiGSMGKNcG3dZKYb3PklEGdxqSiGV2EFrTZEVEfDhGflV4vUfqcv1Zy7ms+A0n+GmLgp1nneEgXHgoWGdIP19HyGthag=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    repo: paver/paver
