language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "pypy3"

before_script:
- if [ "$TRAVIS_PYTHON_VERSION" == "pypy3" ]; then export PYTHON_EXE=pypy3; export PIP_EXE=pip;
  else export PYTHON_EXE=python; fi
install:
- pip install -r test-requirements.txt
script: "$PYTHON_EXE setup.py test"
notifications:
notifications:
  email: false
  irc:
    channels: irc.freenode.org#paver
    on_success: always
    on_failure: always
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/df73774c7ab7fa0c1769
    on_success: change
    on_failure: always
  slack:
    secure: vGJWDZ0sqIiUif/jL7U3GIJ07m///wpvUDf4uKZe15L9m9XTGySNr49jOODus+MYPVezwMiJekIwpgalN/vSyrx0k8oluQyQ96ujgrUndQ3vDtR+N+50/BDJrtVSJz1steKz2mfYBWitu9Vv2cnv4UO/67cUzitbxyi+MJczOuI=
    on_success: change
    on_failure: always
before_deploy:
- pip install -r release-requirements.txt
- python setup.py html
- python setup.py develop
- paver minilib
deploy:
  skip_cleanup: true
  provider: pypi
  user: Almad
  password:
    secure: W+lni4zSYg0CA4ju7jjSdDx5vt1jUsNpsS98amdOu34ycKTJL9WAEXmi4Ye1dqP37Rm4ZBln9h9USQ+NiGSMGKNcG3dZKYb3PklEGdxqSiGV2EFrTZEVEfDhGflV4vUfqcv1Zy7ms+A0n+GmLgp1nneEgXHgoWGdIP19HyGthag=
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    repo: paver/paver
