include LICENSE.txt
include README.rst
include distutils_scripts/*
recursive-include paver/docs *
include paver-minilib.zip
include setup.py
recursive-include paver/tests *
include pavement.py
global-exclude __pycache__
global-exclude *.py[co]